.m1{
  height: 100vh;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background: #dad3fd;
}

.container1{
  max-width: 1000px;
  width:78%;
  background:#fff;
  border-radius: 12px;
  margin-left:10px;
  margin: 0 20px;
  padding:40px 50px 40px 40px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.container1 .main-title1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.container1 .content1 .list{
  display:flex;
  flex-direction: column;
  position: relative;
  width:110px;
  margin-right:10px;
}

.content1 .list label{
  height: 60px;
  /* width:20%; */
  /* background:red; */
  border-radius: 12px;
  line-height: 60px;
  font-size:22px;
  font-weight: 500;
  cursor: pointer;
  /* margin:5px 0; */
  padding-left:25px;
  color:#333;
  z-index:12;
  transition: all 0.4s ease;
}
.content1 .list label:hover{
  color:#260087;
}

#home:checked ~ .list .home,
  #blog:checked ~ .list .blog,
  #code:checked ~ .list .code,
  #about:checked ~ .list .about,
  #help:checked ~ .list .help,
  #psos:checked ~ .list .psos{
  color:#fff;
}

.content1 .indicator{
  height: 60px;
  width:100%;
  left:0;
  top:0;
 position: absolute;
 background:#260087; 
 border-radius: 12px;
 transition: all 0.4s ease;
}

#home:checked ~ .list .indicator{
  top:0;
}
#blog:checked ~ .list .indicator{
  top:60px;
}
#help:checked ~ .list .indicator{
  top:120px;
}
#code:checked ~ .list .indicator{
  top:180px;
}
#about:checked ~ .list .indicator{
  top:240px;
}
#psos:checked ~ .list .indicator{
  top:300px;
}


.container1 input[type="radio"]{
  display:none;
}

.container1 .content1{
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.container1 .content1 .text-content{
  padding-left:40px;
  width:100%;
  height: 100%;

}
.content1 .text-content .text{
  display: none;
}
.content .text-content .home{
  display: block;
}

#home:checked ~ .text-content .home,
  #blog:checked ~ .text-content  .blog,
  #code:checked ~ .text-content  .code,
  #about:checked ~ .text-content  .about,
  #help:checked ~ .text-content  .help,
  #psos:checked ~ .text-content  .psos{
  display: block;
}

  #blog:checked ~ .text-content  .home,
  #code:checked ~ .text-content  .home,
  #about:checked ~ .text-content  .home,
  #help:checked ~ .text-content  .home,
  #psos:checked ~ .text-content  .home{
  display: none;
}
.content1 .text-content .title1{
  font-size:25px;
  font-weight: 500;
  margin-bottom:10px;
}
.content1 .text-content p{
  font-family:sans-serif;
  font-weight: medium;
  text-align:justify;
}
.content1 .text-content{
  text-align: justify;
}
@media screen and (max-width:576px){
  .content1{
      flex-direction: column;
  }
  .list{
      border-right: none;
  }
}